.navbar {
  background-color: #426ca7;

  height: 130px;
  width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 30px;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: 999;


    
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
   

  }
  
  .nav-menu {
    background-color: #426ca7;

    /* background-color: #6078ff; */

    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    
    left: -100%;
    transition: 850ms;
    padding-top: 50px;
    padding-right: 50px;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 50px;
    list-style: none;
    height: 80px;
    
   
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 20px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 250%;
    padding-top: 90px;
   
  }
  
  .navbar-toggle {
    background-color: #060b26;
    margin-top: 13px; 

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
    font-size: 0.8cm;
  }
  .sign-up {
    margin-right: 20px;
    padding-left:60%;
   
    
    
  }
 
  
  .sign-up-button {
    text-decoration: none;
    color: #1a0101;
    font-size: x-large;
    background-color: #dce0e5;
   
    padding: 25px 60px; /* Adjust the padding to increase the height and width */

    border-radius: 4px;
    font-weight:bolder;
    transition: background-color 0.3s ease;
    margin-right: 15px; /* Add margin-right to create a gap between buttons */

  }
  
  .sign-up-button:hover {
    background-color: #0666ff;
  }
  .profile-icon {
    margin-left: auto; /* Align the profile icon to the right */
    margin-right: 20px; /* Add some margin to create a gap between the buttons and the profile icon */
    font-size: 5rem; /* Increase the font size of the profile icon */
    color: #dce0e5; /* Set the color of the profile icon */
    cursor: pointer; /* Add cursor pointer on hover */
  }


 